
pydantic
langchain
langgraph
langchain-core
langchain-community
langchain-openai
langsmith
arxiv 
wikipedia
python-dotenv
tavily-python

#mcp
langchain-mcp-adapters
mcp

langgraph-cli[inmem]

pydantic
langchain
langgraph
langchain-core
langchain-community
graphviz
langchain-openai
langsmith
arxiv 
wikipedia
python-dotenv
tavily-python
langchain-google-genai

#mcp
langchain-mcp-adapters
mcp

langgraph-cli[inmem]

#RAG

pypdf
pymupdf
langchain-text-splitters

#vectordb
sentence-transformers
chromadb
faiss-cpu

langgraph-checkpoint-sqlite


deepagents